.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  button {
   // padding: 20px 10px;
   // background-color: RGBA(0, 0, 0, 0.06);
  //  border: none;
  }
}
